{% from "cre/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}

{% macro list_group_item(key, value) %}

<div class="list-group-item">
	<div class="row g-2 align-items-center">
		<div class="col">
			{{ key }}
		</div>
		<div class="col-auto">{{ value }}</div>
	</div>
</div>

{% endmacro %}

{% macro list_group(doc) %}

<div class="list-group card-list-group">
	{% for key, value in doc.items() %}
	{{ list_group_item(key, value) }}
	{% endfor %}
</div>

{% endmacro %}


{% block title %}
{{ _("My Profile") }}
{% endblock %}
{% block header %}
<h3>Welcome Back {{current_user.first_name }}</h3>
<p class="mb-1 text-muted">Member since {{ frappe.format_date(current_user.creation) }}</p>

{% endblock %}
{% block page_content %}
<div class="row row-cards">
	<div class="col-12">
		<div class="card">
			<ul class="nav nav-tabs" data-bs-toggle="tabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a href="#tab-1" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Home</a>
				</li>
				<li class="nav-item" role="presentation">
					<a href="#tab-2" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Profile</a>
				</li>
				<li class="nav-item" role="presentation">
					<a href="#tab-3" class="nav-link" title="Settings" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
						<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
						<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
							<circle cx="12" cy="12" r="3"></circle>
						</svg>
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a href="#tab-4" class="nav-link" title="Settings" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
						<!-- Download SVG icon from http://tabler-icons.io/i/settings -->
						<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
							<circle cx="12" cy="12" r="3"></circle>
						</svg>
					</a>
				</li>
			</ul>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-1" role="tabpanel">
						{{ list_group(notifications) }}
					</div>
					<div class="tab-pane" id="tab-2" role="tabpanel">
						{{ list_group(current_user.as_dict()) }}
					</div>
					<div class="tab-pane" id="tab-3" role="tabpanel">
						{{ list_group(contact[0]) }}
					</div>
					<div class="tab-pane" id="tab-4" role="tabpanel">
					
						{{ workspaces.as_dict() }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
