{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}
{{ _("JMG Industrial") }}
{% endblock %}
{% block header %}

{% endblock %}
{% block header_actions %}
{% endblock %}

{% block page_content %}
<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card card-md">
                <div class="card-stamp card-stamp-lg">
                    <div class="card-stamp-icon bg-primary-dark">
                        <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heartbeat" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M19.5 13.572l-7.5 7.428l-2.896 -2.868m-6.117 -8.104a5 5 0 0 1 9.013 -3.022a5 5 0 1 1 7.5 6.572"></path>
                            <path d="M3 13h2l2 3l2 -6l1 3h3"></path>
                        </svg>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h3 class="h1">Our Mission</h3>
                            <div class="markdown text-muted">
                                Energetically supporting clients by engineering innovative advisory solutions designed to bridge their objectives of today with their goals of the future.
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <h2>Services</h2>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Brokerage
                    </div>
                    <p>
                        DAUM’s brokerage professionals are highly skilled at guiding our clients through the ever changing complexities of the site selection, proposal process and contract negotiations. DAUM agents craft solutions-based transactions using their intimate knowledge of clients’ needs and all aspects of the market. DAUM’s extensive record of accomplishment is testimony to its adherence to these beliefs. DAUM’s competitive advantage is its entrepreneurial spirit, depth of market coverage and state-of-the-art data/technology that allows us to solve more of our clients’ challenges faster.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Property Management
                    </div>
                    <p>
                        With millions of square feet under DAUM’s exclusive management, DAUM designs and delivers a scope of services devised to meet the client’s unique investment or corporate objectives.
                        DAUM’s property management arm excels at contract administration, capital planning and operational budgeting, emergency and disaster planning, energy/utility efficiency studies, building maintenance, and code compliance management. </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Market Research
                    </div>
                    <p>
                        DAUM Commercial Real Estate realizes the importance of keeping its clients abreast of the ever-changing market and is committed to delivering the timeliest and most accurate market information, coupled with local expertise and market knowledge.
                        We go beyond what our competition can provide by mining proprietary data in ways that makes the data relevant specific to your property.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Mid Quarter Snapshot
                    </div>
                    <p>
                        DAUM Commercial Real Estate realizes the importance of keeping its clients abreast of the ever-changing market and is committed to delivering the timeliest and most accurate market information, coupled with local expertise and market knowledge. We go beyond what our competition can provide by mining proprietary data in ways that makes the data relevant specific to your property.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Consulting
                    </div>
                    <p>
                        Accurate valuations and related advisory work requires in-depth knowledge of local and global markets backed by sound experience, best-in-class research and keen analytical skills.
                        DAUM’s team of commercial real estate experts offers a wide array of consulting services that include but are not limited to; Broker Opinion of Value reports, custom market analysis, asset positioning and repositioning, demographic and site analysis, financial analysis and cash flow modeling, lease abstracting, property expense and comparative analysis, as well as, a host of other critical consulting services for our clients.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-md">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="h3">Enterprise-ready. Reach out for a custom quote.</h2>
                            <p class="m-0 text-muted">Tabler is designed to work great for large enterprises. Take a look at our feature comparison.</p>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn">
                                Book a demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
