<!-- no-breadcrumbs -->

<h1 class="my-account-header">{{_("Active Listings") }}</h1>


<div class="row row-deck">
    <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
            <a href="#" class="d-block"><img src="{{ image }}" class="card-img-top"></a>
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="avatar me-3 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                    <div>
                        <div><a href="{{ doc.route }}">{{ doc.title or doc.name }}</a></div>
                        <div><a href="#" class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <desc>Download more icon variants from https://tabler-icons.io/i/map-pin</desc>
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="11" r="3"></circle>
                                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                                </svg></a><span>{{ property_city }}, {{ property_state }}</span></div>
                        <div class="text-muted">3 days ago</div>
                    </div>
                    <div class="ms-auto">
                        <div class="text-muted"><span class="status status-green"><span class="status-dot status-dot-animated"></span>{{ status }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- this is a sample default list template -->
