.dropdown-toggle:after {
    border-top: 0em transparent;
    border-right: 0em transparent;
}

.icon {
    stroke: currentColor;
}

[data-doctype="Web Form"] .page_content {
    max-width: unset;
    margin: unset;
}

.card-img-top {
    height: 16em;
    object-fit: cover;
}

.card-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-hightlight {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body {
    text-rendering: optimizeLegibility;
}

body[data-path="me"], body[data-path="list"], body[data-path="update-profile"] {
	background-color: var(--tblr-body-bg);
}

.datagrid {
	--tblr-datagrid-padding: 1.5rem;
	--tblr-datagrid-item-width: 15rem;
	display: grid;
	grid-gap: var(--tblr-datagrid-padding);
	grid-template-columns: repeat(auto-fit,minmax(var(--tblr-datagrid-item-width),1fr));
}