.dropdown-toggle:after {
    border-top: 0em transparent;
    border-right: 0em transparent;
}

.icon{
    stroke: currentColor;
}

[data-doctype="Web Form"] .page_content {
	max-width: unset;
	margin: unset;
}