{% macro render_icon(icon_name) %}

<!--<img style="filter: invert(94%) sepia(6%) saturate(22%) hue-rotate(277deg) brightness(105%) contrast(108%);" src="{{ frappe.render_template("/assets/cre/icons/icons/" + icon_name + ".svg", {})|safe }}">-->
<img style="filter: invert(); height: 20px;" src="{{ frappe.render_template("/assets/cre/icons/icons/" + icon_name + ".svg", {})|safe }}">

{% endmacro %}

{% macro render_item(item, submenu=False, parent=False) %}
{% if item.child_items %}

{% if parent %}

{%- set dropdown_id = 'id-' + frappe.utils.generate_hash('Dropdown', 12) -%}
<li class="nav-item dropdown {% if submenu %} dropdown-submenu {% endif %}">
	<ul class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
		{% for child in item.child_items %}
		{{ render_item(child, True) }}
		{% endfor %}
	</ul>
</li>
{% else %}
{%- set dropdown_id = 'id-' + frappe.utils.generate_hash('Dropdown', 12) -%}
<li class="dropdown {% if submenu %} dropdown-submenu {% endif %}">
	<a class="dropdown-item dropdown-toggle" href="#" id="{{ dropdown_id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{ _(item.label) }}
	</a>
	<ul class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
		{% for child in item.child_items %}
		{{ render_item(child, True) }}
		{% endfor %}
	</ul>
</li>
{% endif %}

{% else %}

{% if parent %}
<li class="nav-item">
	<a class="nav-link" href="{{ (item.url or '')|abs_url }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>
		{% if item.tabler_icon %}
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<svg width="24" height="24">
				<use xlink:href="assets/cre/icons/tabler-sprite.svg#{{item.tabler_icon}}" />
			</svg>
		</span>
		{% endif %}
		<span class="nav-link-title">
			{{ _(item.label) }}
		</span>
	</a>
</li>
{% else %}
<a class="dropdown-item" href="{{ (item.url or '') | abs_url }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>
	{% if item.tabler_icon %}
	<span class="nav-link-icon d-md-none d-lg-inline-block">
		<svg width="24" height="24">
			<use xlink:href="assets/cre/icons/tabler-sprite.svg#{{item.tabler_icon}}" />
		</svg>
	</span>
	{% endif %}
	<span class="nav-link-title">
		{{ _(item.label) }}
	</span>
</a>
{% endif %}

{% endif %}
{% endmacro %}

{% if not sidebar_items %}
{% if top_bar_items -%}
<ul class="navbar-nav">
	{%- for item in top_bar_items -%}
	{% if not item.parent_label and not item.right -%}
	{{ render_item(item, parent=True) }}
	{%- endif -%}
	{%- endfor %}
</ul>
{%- endif %}
{% endif %}
<ul class="navbar-nav flex-row order-md-last">
	{% include "templates/includes/navbar/navbar_search.html" %}
	{%- for item in top_bar_items -%}
	{% if not item.parent_label and item.right -%}
	{{ render_item(item, parent=True) }}
	{%- endif -%}
	{%- endfor %}
	{% if not only_static %}
	{% block navbar_right_extension %}{% endblock %}
	{% endif %}

	{% if show_sidebar and sidebar_items %}
	<div class="d-block d-lg-none">
		<hr>
		{% for item in sidebar_items -%}
		<li class="nav-item">
			{% if item.type != 'input' %}
			<a href="{{ item.route }}" class="nav-link {{ 'text-dark' if pathname==item.route else 'text-muted'}}" {% if item.target %}target="{{ item.target }}" {% endif %}>
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					{% if item.icon %}
					{{ render_icon(item.icon) }}
					{% endif %}
				</span>
				<span class="nav-link-title">
					{{ _(item.title or item.label) }}


				</span>

			</a>
			{% endif %}
		</li>
		{%- endfor %}
		<hr>
	</div>
	{% endif %}

	{% include "templates/includes/navbar/navbar_login.html" %}

</ul>
{%- if call_to_action and not show_sidebar -%}
<a class="btn btn-primary navbar-cta" href="{{ call_to_action_url | abs_url }}">
	{{ call_to_action }}
</a>
{%- endif -%}
