{% from "cre/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}
{{ _("My Profile") }}
{% endblock %}
{% block header %}
<h3>Welcome Back {{current_user.first_name }}</h3>
<p class="mb-1 text-muted">Member since {{ frappe.format_date(current_user.creation) }}</p>

{% endblock %}
{% block page_content %}
<div class="row row-cards">
    <div class="col-7">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Personal</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                {{avatar(current_user.name)}}
                            </div>
                            <div class="col">
                                <p class="mb-1 font-weight-medium">{{current_user.full_name }} <span class="badge bg-blue">Pro</span></p>
                                <p class="mb-1 text-muted">Newport Beach, CA</p>
                                <div><span class="badge bg-secondary-lt">Investor</span></div>
                            </div>
                            <div class="col-auto"><a href="/update-profile?name={{ user }}">Edit</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-cards">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">Sales</div>
                                    <div class="ms-auto lh-1">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item active" href="#">Last 7 days</a>
                                                <a class="dropdown-item" href="#">Last 30 days</a>
                                                <a class="dropdown-item" href="#">Last 3 months</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="h1 mb-3">75%</div>
                                <div class="d-flex mb-2">
                                    <div>Conversion rate</div>
                                    <div class="ms-auto">
                                        <span class="text-green d-inline-flex align-items-center lh-1">
                                            7%
                                            <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="3 17 9 11 13 15 21 7"></polyline>
                                                <polyline points="14 7 21 7 21 14"></polyline>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-blue" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                        <span class="visually-hidden">75% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">Sales</div>
                                    <div class="ms-auto lh-1">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item active" href="#">Last 7 days</a>
                                                <a class="dropdown-item" href="#">Last 30 days</a>
                                                <a class="dropdown-item" href="#">Last 3 months</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="h1 mb-3">75%</div>
                                <div class="d-flex mb-2">
                                    <div>Conversion rate</div>
                                    <div class="ms-auto">
                                        <span class="text-green d-inline-flex align-items-center lh-1">
                                            7%
                                            <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="3 17 9 11 13 15 21 7"></polyline>
                                                <polyline points="14 7 21 7 21 14"></polyline>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-blue" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                        <span class="visually-hidden">75% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Account</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col text-truncate">
                                    <a href="#" class="text-reset d-block">Password</a>
                                    <div class="d-block text-muted text-truncate mt-n1">Change your password</div>
                                </div>
                                <div class="col-auto"><a href="/update-password">Edit</a></div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col text-truncate">
                                    <a href="#" class="text-reset d-block">Phone</a>
                                    <div class="d-block text-muted text-truncate mt-n1">Change your cell and work phone</div>
                                </div>
                                <div class="col-auto"><a href="/update-password">Edit</a></div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col text-truncate">
                                    <a href="#" class="text-reset d-block">Email</a>
                                    <div class="d-block text-muted text-truncate mt-n1">Change your email</div>
                                </div>
                                <div class="col-auto"><a href="/update-password">Edit</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Traffic summary</h3>
                        <div id="chart-mentions" class="chart-lg" style="min-height: 240px;"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Activity Feed</h3>
                <div class="card-actions">
                    <select class="form-select">
                        <option value="1">All Properties</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <div class="divide-y">
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">JL</span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Jeffie Lewzey</strong> commented on your <strong>"I'm not a witch."</strong> post.
                                </div>
                                <div class="text-muted">yesterday</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="badge bg-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/002m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    It's <strong>Mallory Hulme</strong>'s birthday. Wish him well!
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="badge bg-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/003m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Dunn Slane</strong> posted <strong>"Well, what do you want?"</strong>.
                                </div>
                                <div class="text-muted">today</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="badge bg-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/000f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Emmy Levet</strong> created a new project <strong>Morning alarm clock</strong>.
                                </div>
                                <div class="text-muted">4 days ago</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="badge bg-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/001f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Maryjo Lebarree</strong> liked your photo.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">EP</span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Egan Poetz</strong> registered new client as <strong>Trilia</strong>.
                                </div>
                                <div class="text-muted">yesterday</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/002f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Kellie Skingley</strong> closed a new deal on project <strong>Pen Pineapple Apple Pen</strong>.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/003f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Christabel Charlwood</strong> created a new project for <strong>Wikibox</strong>.
                                </div>
                                <div class="text-muted">4 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">HS</span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Haskel Shelper</strong> change status of <strong>Tabler Icons</strong> from <strong>open</strong> to <strong>closed</strong>.
                                </div>
                                <div class="text-muted">today</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/006m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Lorry Mion</strong> liked <strong>Tabler UI Kit</strong>.
                                </div>
                                <div class="text-muted">yesterday</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/004f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Leesa Beaty</strong> posted new video.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/007m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Perren Keemar</strong> and 3 others followed you.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">SA</span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Sunny Airey</strong> upload 3 new photos to category <strong>Inspirations</strong>.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/009m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Geoffry Flaunders</strong> made a <strong>$10</strong> donation.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/010m.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Thatcher Keel</strong> created a profile.
                                </div>
                                <div class="text-muted">3 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/005f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Dyann Escala</strong> hosted the event <strong>Tabler UI Birthday</strong>.
                                </div>
                                <div class="text-muted">4 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/006f.jpg)"></span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Avivah Mugleston</strong> mentioned you on <strong>Best of 2020</strong>.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar">AA</span>
                            </div>
                            <div class="col">
                                <div class="text-truncate">
                                    <strong>Arlie Armstead</strong> sent a Review Request to <strong>Amanda Blake</strong>.
                                </div>
                                <div class="text-muted">2 days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function() {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-mentions'), {
            chart: {
                type: "bar",
                fontFamily: 'inherit',
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                    show: false,
                },
                animations: {
                    enabled: false
                },
                stacked: true,
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%',
                }
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 1,
            },
            series: [{
                name: "Web",
                data: [1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 2, 12, 5, 8, 22, 6, 8, 6, 4, 1, 8, 24, 29, 51, 40, 47, 23, 26, 50, 26, 41, 22, 46, 47, 81, 46, 6]
            }, {
                name: "Social",
                data: [2, 5, 4, 3, 3, 1, 4, 7, 5, 1, 2, 5, 3, 2, 6, 7, 7, 1, 5, 5, 2, 12, 4, 6, 18, 3, 5, 2, 13, 15, 20, 47, 18, 15, 11, 10, 0]
            }, {
                name: "Other",
                data: [2, 9, 1, 7, 8, 3, 6, 5, 5, 4, 6, 4, 1, 9, 3, 6, 7, 5, 2, 8, 4, 9, 1, 2, 6, 7, 5, 1, 8, 3, 2, 3, 4, 9, 7, 1, 6]
            }],
            grid: {
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                strokeDashArray: 4,
                xaxis: {
                    lines: {
                        show: true
                    }
                },
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: [
                '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27'
            ],
            colors: ["#206bc4", "#79a6dc", "#bfe399"],
            legend: {
                show: false,
            },
        })).render();
    });
    // @formatter:on
</script>

{% endblock %}
