{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}
{{ _(" Commercial Properties for Sale ") }}
{% endblock %}
{% block header %}
<h3 class="my-account-header">{{_("Commercial Properties for Sale ") }}</h3>
{% endblock %}
{% block page_content %}

<p> {{ query_params }}</p>
<p> {{ property_types }} </p>

<p>ppeee</p>
<div class="mb-3">
  <select class="form-select" id="property_type" onchange="property_type_change()">
    <option value="1">All Types</option>
    {% for property_type in property_types %}
    <option value="2">{{ property_type }}</option>

    {% endfor %}

  </select>
</div>

<div class="row row-cards">
  {% for prop in properties %}
  <div class="col-sm-6 col-lg-4">
    <div class="card card-sm">
      <a href="{{prop.route}}" class="d-block">
        <img src="{{prop.image}}" class="card-img-top">
      </a>
      <div class="card-body">
        <h2 class="card-title">
          {{ frappe.utils.fmt_money(prop.price, precision=0, currency='USD') }}
        </h2>
        <div class="card-meta d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="11" r="3"></circle>
              <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
            </svg> <span> {{prop.property_city}}, {{prop.property_state}}</span>
          </div>
          {% set property_type_id = prop.property_type %}
          {% set property_type = frappe.db.get_value('Property Type', property_type_id, 'type') %}
          <span>{{property_type}}</span>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <a href="#" class="btn btn-link">Get BOV</a>
          <a href="#" class="btn btn-primary ms-auto">View Details</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
